<p>transacciones works!</p>

<h3>LISTA DE TRANSACCIONES</h3>

<ol>
    @for (transacciones of transaccionesList; track transacciones.id) {
        <li> {{transacciones.fecha}} {{transacciones.descripcion}} {{transacciones.monto}} {{transacciones.tipo}}</li>
    }
</ol>

<input type="text" [(ngModel)]="descripcionTransaccion"/>

<button (click)="mostrarValor()">Mostrar Transacción</button>
@if (monto) {
    <p>Mi transacción es: {{monto}} </p>
}

<button (click)="enviarSaludo()" >Enviar Saludo</button>
