<H1>plantillas de angular</H1>


<p>usuario works!  {{web}} </p>

<a [href]="web"
[class.existe] = "redirigir"
target="_blank">Is a la web</a>

<h2>Estructuras de flujo</h2>

@if (redirigir == true) {
 <p>El enlace a {{web}} es correcto</p>   
}@else {
    <p>El enlace no funciona</p>
}

<button (click)="cambioRedireccion()">cambio</button>

<h3>Marcas Autos</h3>

<ul>
    @for (item of marcasAutos; track item.id; let indice = $index, contador=$count, par=$even, impar=$odd) {
        <li>{{item.nombre}}  {{indice}}  {{contador}}  {{par}}</li>
    } @empty {
        <li>el listado esta vacio</li>
    }
</ul>

@if (usuario.rol=="admin") {
    <app-ventas></app-ventas>
}

@switch (usuario.rol) {
    @case ("admin") {
        <app-ventas></app-ventas>
    }
    @case ("user") {
        <p>Eres un usuario normal</p>
    }
    @default {
        <p>Ese un invitados</p>
    }
}

<h3>mas cosas de las plantillas de angular</h3>


<h2>tuberias en angular</h2>

{{web | lowercase}}

<h2>Práctica de Pipes - Evidencia</h2>
<hr>

<!-- Pipes del Video -->
<p><strong>Original:</strong> {{ usuario.nombre }}</p>
<p><strong>UpperCase:</strong> {{ usuario.nombre | uppercase }}</p>
<p><strong>LowerCase:</strong> {{ usuario.nick | lowercase }}</p>
<p><strong>TitleCase:</strong> {{ usuario.rol | titlecase }}</p>
<hr>
<p><strong>CurrencyPipe (Saldo):</strong> {{ saldoCuenta | currency:'USD':'symbol' }}</p>
<p><strong>JsonPipe (Estructura Objeto):</strong></p>
<pre>{{ usuario | json }}</pre>