<p>cine works!</p>

<h1>{{titulo}}</h1>

<p>
    Elige un color:
    <input type="color" [(ngModel)]="color">
</p>

<ul>
    @for (pelicula of peliculas; track pelicula.id; let indice = $index) {
        <li> {{pelicula.id}} {{pelicula.titulo}}  
           <span [ngStyle]="{
            'background-color':color
           }"> {{pelicula.genero}} </span> {{pelicula.plataforma}}  
            <button (click)="deletePelicula(indice)">Eliminar</button>   
        </li>
    }
</ul>

<h1>Formulario y two way date binding</h1>

<input type="text" [(ngModel)] ="mi_pelicula" />

<p>
Mi pelicula es: <strong>{{mi_pelicula}}</strong>
</p>

<button (click)="showPelicula()">Mostrar pelicula</button>

<button (click)="addPelicula()">añadir nueva pelicula</button>

<ul>
    @for (pelicula of preliculassinDatos; track pelicula) {
        <li> {{pelicula}}</li>
    }
</ul>